.bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 600px;
    width:400px;
    color: white;
}
.chat{
    text-align: center;
    height: 50px;
    background-color:rgb(39, 39, 54);
    font-size:1.5rem;
}
.chats{
    padding-bottom:10px;
    margin: 50px 10px 10px 10px;
    justify-content: center;
}
.sender{
    background-color: rgb(0, 140, 255);
    border-radius: 10px 10px 0px 10px;
    text-align: right;
    padding:10px ;
    margin: 10px;
}
.receiver{
    background-color:rgb(52, 61, 74);
    border-radius: 10px 10px 10px 0px;
    text-align: left;
    padding: 10px;
    margin: 10px
}